ul {
    list-style: none;
}

body {
    margin: 0;
}


.test {

    position: relative;

    height: 502px;
    background-color: #FFB8CA;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
}

.logo {
    margin-top: 6px;
}

.title {
    margin-top: 137px;
    font-family: Titan One;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: white;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    margin-bottom: 19px;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 1s;
}

.passion {
    font-size: 48px;
    line-height: 45px;
    color: #D41443;
}

.ice-cream {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 117px;
    animation: my-animation;
    animation-duration: 2s;
    -webkit-animation: swing-in-bottom-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-bottom-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;

}


@-webkit-keyframes swing-in-bottom-fwd {
    0% {
        -webkit-transform: rotateX(100deg);
        transform: rotateX(100deg);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 1;
    }
}

@keyframes swing-in-bottom-fwd {
    0% {
        -webkit-transform: rotateX(100deg);
        transform: rotateX(100deg);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        opacity: 1;
    }
}


.elipse {
    height: 344px;
    position: absolute;
    z-index: 1;
    left: 36px;
    top: 83px;

    animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.5s;
}

.btn-list {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    position: relative;
    z-index: 10;
}

.button1 {
    background-color: #D41443;
    color: white;
    font-size: 8px;
    border-radius: 40px;
    border-color: transparent;
    min-width: 62.4px;
    height: 24px;

    animation: heartbeat 1s ease-in-out both 2s;
}

.button2 {
    font-weight: 700;
    font-size: 8px;
    min-width: 62.4px;
    height: 24px;
    border-radius: 40px;
    border-color: transparent;

    animation: heartbeat 1s ease-in-out both 3s;

}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes tilt-in-top-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}

@keyframes tilt-in-top-1 {
    0% {
        -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
        transform: rotateY(0deg) translateY(0) skewY(0deg);
        opacity: 1;
    }
}